body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  overflow: hidden;
}

#gameBoard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 70%;
  max-height: 70%;
}