:80 {
	# Redirect to HTTPS on port 8443
	redir https://{host}:8443{uri} permanent
}

:443 {
	# "on_demand" tells Caddy to generate certs for ANY IP that connects
	tls internal {
		on_demand
	}

	log

	handle /api/* {
		reverse_proxy backend:3000
	}

	handle {
		root * /usr/share/caddy
		file_server
		try_files {path} {path}/ /index.html
	}
}
