{
	local_certs
}

localhost {
    # 1. WebSocket
    @ws {
        path /api/ws
        path /api/ws/*
    }
    handle @ws {
        reverse_proxy backend:3000
    }

    # 2. Game API
    @games {
        path /api/games
        path /api/games/*
    }
    handle @games {
        reverse_proxy backend:3000
    }

    # 3. Database API
    @api path /api/*
    handle @api {
        uri strip_prefix /api
        reverse_proxy database:3000
    }

    # 4. Frontend
    handle {
        root * /usr/share/caddy
        file_server
        try_files {path} /index.html
    }
}

# Redirect HTTP
http://localhost:80 {
    redir https://localhost:8443{uri}
}
