body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#app {
  text-align: center;
}

.main-menu {
  margin-bottom: 33vh; /* Pushes the element up from the center */
}

#game-mode-selector button {
  font-size: 1.2em;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

#back-to-main {
  margin-bottom: 10px;
  font-size: 1em;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

#board {
  background-color: #000;
}

/*---------------------------------*/

.tournamentNet {
	display: flex;
	flex-direction: column;
	/*align-items: flex-start;*/
	gap: 20px; /*#30px;*/
	/*position: relative;*/
}

.pairWrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 10px;
	background: orange;
}

.player {
	padding: 6px 10px;
	border: 1px solid #444;
	border-radius: 6px;
	width: 120px;
	height: 30px;
	background: #f8f8f8;
	position: relative;
	box-sizing: border-box;
}

.player.toPlay {
	color: green;
	/*transition: color 1s ease;*/
	animation: pulse 1.5s ease-in-out 100;
}

@keyframes pulse {
	10%, 100% {
		opacity: 100;
	}
	50% {
		opacity: 0;
	}
}

.connector {
	position: relative;
	top: 0px;
	height: 20px;
	/*width: 120px;*/
}

.connector::before {
	content: "";
	position: absolute;
	left: 120px;
	top: 0;
	width: 40px;
	height: 2px;
	background: black;
}

/*.connector::after {
	content: "";
	position: absolute;
	left: 160px; /*calc(100% + 25px); 
	top: -10px;
	width: 2px;	
	height: 40px;
	background: black;
}*/

.horizontal-line {
	position: absolute;
	left: 120px;
	top: 15px;
	width: 100px;
	height: 15px;
	background: yellow;
}

.vertical-line {
	width: 30px;
	height: 100px;
	background: green;
}
